.component-calendar{
    >button{
        border: 1px solid #339aef;
        background: #00afef;
        padding: 5px;
        border-radius: 5px;
        color: #ffffff;
    }
    .component-calendar-year{
        float: left;
        position: relative;
        >span{
            color:#00afef;
            font-weight: bold;
        }
        >div{
            position: absolute;
            background: #d3d3d3;
            width: 318px;
            height:200px;
            overflow: auto;
            >*{
                display: inline-block;
                width:88px;
                margin: 5px;
                text-align: center;
                border: 1px solid #00afef;
            }
        }
    }
    
    .component-calendar-month{
        float: right;
        position: relative;
        >span{
            color:#00afef;
            font-weight: bold;
        }
        >div{
            background: #d3d3d3;
            width: 30px;
            height:200px;
            overflow: auto;
            position: absolute;
            right: 0;
            text-align: center;
            padding: 5px 12px;
            >*+*{
                border-top: 1px solid #00afef;
            }
        }
    }
    .component-calendar-day{
        margin-top: 50px;
        width:300px;
        .day{
            display: inline-block;
            width:30px;
            margin: 5px;
            border: 1px solid #00af66;
            text-align: center;
        }
        .hidden{
            visibility: hidden;
        }
        .active{
            background: #00afef;
        }
    }
}